<main class="bg-light mx-5 mt-1">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <p>{{user.city}}, {{user.state}}</p>
    <p>Phone: {{user.phone}}</p>
    <p>Email: {{user.email}}</p>
    <p>LinkedIn: </p><a href="http://www.linkedin.com/in/{{user.linkedin}}">http://www.linkedin.com/in/{{user.linkedin}}</a>
    <p>GitHub: </p><a href="https://github.com/{{user.github}}">https://github.com/{{user.github}}</a>
    <p>Portfolio: </p><a href="{{user.portfolio}}">{{user.portfolio}}</a>
</main>